* {
  margin:0;
  padding:0;
}

h1,h2,h3,h4,h5,h6,p,pre,blockquote,label,ul,ol,dl,fieldset,address {
  margin:1em 0;
}

li,dd {
  margin-left:5%;
}

fieldset {
  padding:.5em;
}

select option {
  padding:0 5px;
}

.access {
  display:none;
}

.clear {
  clear:both;
  font-size:0;
  height:0;
  line-height:0;
  overflow:hidden;
}

a {
  color:#2382c8;
  outline:none;
  text-decoration:none;
}

a img {
  border:none;
}

.clearfix:after {
  clear:both;
  content:".";
  display:block;
  height:0;
  visibility:hidden;
}

* html .clearfix {
  height:1%;
}

html,body {
  height:100%;
  overflow-x:hidden;
  width:950px;
}

body {
  background:#fff;
  font-family:Helvetica, Arial, sans-serif;
  font-size:13px;
}

a:visited {
  color:#2382c8;
}

hr {
  background:#ddd;
  border:none;
  height:1px;
  margin:15px 0;
  padding:none;
}

aside {
  background-color:#fff;
  float:left;
  height:100%;
  padding:0 40px 0 30px;
  position:fixed;
  width:240px;
  z-index:1000;
}

.main,.left,.right {
  color:#444;
  float:left;
  left:310px;
  line-height:21px;
  padding-bottom:50px;
  position:absolute;
  width:640px;
}

.left {
  display:none;
  left:-330px;
}

.right {
  display:none;
  left:950px;
}

.ribbon {
  background-color:#fff;
  height:100%;
  left:950px;
  position:fixed;
  width:100%;
  z-index:1000;
}

.logo {
  display:block;
  font-size:30px;
  font-weight:700;
  margin:20px 0;
}

nav ul {
  border-top:1px solid #ddd;
  margin:20px 0;
}

nav ul li {
  border-bottom:1px solid #ddd;
  list-style-type:none;
  margin:0;
  padding:8px 0;
}

aside p {
  color:#666;
  line-height:1.5;
}

.listing article {
  margin:40px 0;
}

.listing article:first-child {
  margin-top:22px;
}

.listing article time {
  margin:0 0 -1px;
}

.listing article h2 {
  border:none;
  font-size:18px;
  margin:0 0 -5px;
}

.listing article h2 a {
  color:#222;
  text-decoration:none;
}

.listing article .continue {
  background:url(/images/small-arrow.png) 100% 5px no-repeat;
  font-weight:700;
  padding-right:14px;
}

.listing article.other {
  border-left:1px solid #ddd;
  color:#666;
  margin-left:24px;
  padding-left:10px;
}

.listing article.other h2 {
  font-size:14px;
  line-height:14px;
  margin-bottom:-3px;
}

.listing article.other p:last-child {
  margin-bottom:0;
}

.listing article.other .icon {
  float:left;
  height:20px;
  margin-left:-35px;
  width:20px;
}

.listing article.link .icon {
  background:url(/images/icon_link.png) 0 0 no-repeat;
}

.main time,.left time,.right time {
  color:#666;
  display:block;
  margin:20px 0 -20px;
}

h1 {
  color:#000;
  font-size:20px;
  margin:20px 0 10px;
}

h2 {
  border-bottom:1px dotted #BBB;
  color:#000;
  font-size:16px;
  margin:2em 0 -.5em;
}

h3 {
  color:#000;
  font-size:13px;
  margin:2em 0 -.75em;
}

h3 a:hover,h2 a:hover {
  border:none;
  color:#000;
}

h4 {
  color:#000;
  font-size:1em;
  font-weight:400;
}

.figure {
  background:#f5f5f5;
  border:1px solid #ddd;
  line-height:0;
  margin:19px 0 1em;
  padding:2px;
  text-align:center;
}

.fig-a {
  float:right;
  margin-left:15px;
}

.figure small {
  background:#ddd;
  color:#666;
  display:block;
  font-size:11px;
  line-height:12px;
  margin:2px 0 0;
  padding:5px 7px;
  text-align:left;
  text-shadow:1px 1px 0 rgba(255,255,255,0.3);
}

.figure small strong {
  text-transform:uppercase;
}

blockquote {
  background:url(../images/blockquote_open.gif) 0 12px no-repeat;
  border:1px dotted #ddd;
  border-left:none;
  border-right:none;
  font-size:14px;
  margin:1em 0;
  padding:0 35px;
}

blockquote p {
  color:#666;
  font-family:Georgia;
  margin:12px 0;
}

table {
  background:#FFF;
  border-bottom:2px solid #CCC;
  border-collapse:separate;
  border-top:1px solid #CCC;
  color:#000;
  font-size:11px;
  width:100%;
}

caption {
  font-size:11px;
  font-weight:700;
  padding:10px 10px 5px 0;
  text-align:left;
  text-transform:uppercase;
}

th {
  padding:5px;
  text-align:center;
}

td {
  padding:3px 5px;
  text-align:center;
}

.odd td {
  background:#F0F1F2;
}

table.data th,table.data td {
  text-align:left;
}

.main ul,.main ol,.left ul,.left ol,.right ul,.right ol {
  margin:16px 0;
}

.main ul li,.left ul li,.right ul li {
  background:url(../images/icon_li.gif) 0 5px no-repeat;
  list-style-type:none;
  margin-bottom:5px;
  margin-left:10px;
  padding-left:15px;
}

.main ol li,.left ol li,.right ol li {
  margin-bottom:5px;
  margin-left:32px;
}

a.askme {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  background:#eee;
  border-radius:5px;
  color:#666;
  display:block;
  font-size:14px;
  padding:10px 12px;
  text-decoration:none;
}

p.note {
  color:#666;
}

img.alignRight {
  float:right;
  padding:15px 0 15px 15px;
}

img.alignLeft {
  float:left;
  padding:15px 15px 15px 0;
}

.follow-box {
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  background:0;
  border:1px solid #c3e0f2;
  border-radius:4px;
  display:block;
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f6fbff',endColorstr='#d5e8f5');
  margin:35px 0 10px;
  text-shadow:0 0 1px rgba(255,255,255,0.6);
}

a.follow-box {
  text-decoration:none;
}

.follow-box h3 {
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NjBFQzg0NTE4RjAwMTFFMEE1MDNGMDdBQUE4NjMxMkYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NjBFQzg0NTI4RjAwMTFFMEE1MDNGMDdBQUE4NjMxMkYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo2MEVDODQ0RjhGMDAxMUUwQTUwM0YwN0FBQTg2MzEyRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo2MEVDODQ1MDhGMDAxMUUwQTUwM0YwN0FBQTg2MzEyRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqoN/TQAAALcSURBVHjalFRLaxNRFJ57584jM0kmr9ZKbaUthIIP1II7tYpYoQtFUNSd+CNcCO4EBTftShERBHHhwkW1FEE3XbQ+ClakFm2VllptTROmeU3mkfG7JYWYJqke+Lhz5373nO/ec84lvu8L/2uvp2bbMdwCjgKvgBsn+nqX6nFJdQBslDFcBCax4UsD5zql4lAkGr2qKKpgWcVP66Z5z/Pcu9jj1vJpdTCYo+nB84xJE3D0CDhcCVpNOm1EIlfAE0TGfFlW9gQ07Q7+P+DBm52AAPL0YnoflD20ioW9uWzWchx7DJz7WHvJOQFNfxZPtAxWO+E+ioW8kEmv3cb3dZzEq3cCHknJmqbjua7EFbbsaFNjiZazakB7AYU3gVOarg9sUUmIwPlhI3IZ097KVUa35AC2c/5HqtOmyrDIpP2Yq5sL2XVTKJVKq1Dfyh3WMwgTUr9Xn+DU7yiln/sPJsdoDSfX054oRjR2jQj+TPVCKGwI0Vi8oXNuyAl44UuhkHEBudnwzWo4WaDo2aWAbZOEJCt/OxDFbUs4GAx+o747r5ByAtPdpE4fRG3X68uVvC6z5J9zPP9kHSF1DWfLhmVhOKbLSyIli5SSN/U2ZmQmfowxcflneq2TKdoxXMs/BvDfR3V5XGKUN91XwKGVjMdruKvATKFoD2EcrVRYc+dEyOjMH4G4PKazgM33bShDxg8gSBKfb4Hv/LqBbnTsEVmRk6h9so3zoqHQx60hdQHTOV5Qm2s8QDzZ0baynMn3W5b11HWdFWxxGWO70XAd6OqmynHXaUOlowld+oDpFPCrtpN5qRzyyn53Kmcfz+RLA45X3sVEtlF2TRLq6gqdNRRxUlfEafwaARYaPRU8Fz3AIJwn87bfm7e9Ltvzo2VfkMGhBFRchccoKagSWQkq4pzKyBwlhCt/Dpjbvqb8qQB4Ls4A/Ek2+PtUEcCJ/LUsAClgAhgH1oByo5P+EWAAaC4ZuefCgrYAAAAASUVORK5CYII=);
  background-position:98.5% 55%;
  background-repeat:no-repeat;
  border-bottom:1px solid #f0f7fb;
  color:#588499;
  font-size:14px;
  font-weight:400;
  margin:0;
  padding:11px 10px 8px;
}

.follow-box h3 strong {
  color:#186487;
  font-weight:700;
}

.follow-box p.subtext {
  border-top:1px solid #dce7ee;
  color:#6891a5;
  font-size:12px;
  font-weight:300;
  margin:0;
  padding:8px 10px;
}

pre {
  -webkit-font-smoothing:subpixel-antialiased;
  border-left:1px solid #eee;
  margin:16px 0;
  overflow:auto;
  padding-left:10px;
}

pre>code {
  background:url(../images/pxl_code.gif) 0 0 no-repeat;
  padding-top:15px;
}

pre>code.html {
  background:url(../images/pxl_html.gif) 0 0 no-repeat;
}

pre>code.javascript {
  background:url(../images/pxl_javascript.gif) 0 0 no-repeat;
}

pre>code.ruby {
  background:url(../images/pxl_ruby.gif) 0 0 no-repeat;
}

pre>code.php {
  background:url(../images/pxl_php.gif) 0 0 no-repeat;
}

code {
  color:#000;
  font-family:"Courier New", Courier, sans-serif;
  font-size:13px;
}

code span.global {
  color:#38D;
}

code span.brackets {
  color:#777;
}

code span.symbol,code span.selectors {
  color:#19E;
}

code span.shell {
  background:#f1f1f1;
}

code.html span.doctype {
  color:#D7FF80;
}

.highlight {
  background:#fff;
}

.highlight .err {
  background-color:#e3d2d2;
  color:#a61717;
}

.highlight .cp {
  color:#999;
  font-weight:700;
}

.highlight .cs {
  color:#999;
  font-style:italic;
  font-weight:700;
}

.highlight .gd {
  background-color:#fdd;
  color:#000;
}

.highlight .gd .x {
  background-color:#faa;
  color:#000;
}

.highlight .ge {
  font-style:italic;
}

.highlight .gi {
  background-color:#dfd;
  color:#000;
}

.highlight .gi .x {
  background-color:#afa;
  color:#000;
}

.highlight .go {
  color:#888;
}

.highlight .gu {
  color:#aaa;
}

.highlight .nb {
  color:#0086B3;
}

.highlight .ni {
  color:purple;
}

.highlight .nt {
  color:navy;
}

.highlight .w {
  color:#bbb;
}

.highlight .sr {
  color:#009926;
}

.highlight .ss {
  color:#990073;
}

.hcs {
  overflow:hidden;
  text-align:left;
}

.hcs ul,.hcs * {
  border:0;
  list-style-type:none;
  margin:0;
  outline:0;
  padding:0;
}

.hcs ul {
  margin:0 -5px;
}

.hcs ul li {
  -moz-transition:background .2s linear;
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#14000000, endColorstr=#14000000)";
  -webkit-transition:background .2s linear;
  background:rgba(0,0,0,0.075);
  display:table;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#14000000,endColorstr=#14000000);
  float:left;
  height:90px;
  margin:5px 5px 0;
  padding:5px;
  position:relative;
  transition:background .2s linear;
  vertical-align:middle;
  width:120px;
}

.hcs ul li a {
  display:table-cell;
  height:90px;
  text-align:center;
  vertical-align:middle;
  width:120px;
}

.hcs ul li:hover {
  background:#2382c8;
}

.hcs img {
  -ms-interpolation-mode:bicubic;
  border:0;
  float:left;
  font-size:0;
  height:auto;
  max-height:90px;
  max-width:120px;
  width:auto;
}

.pagination {
  border-top:1px solid #DDD;
  margin:15px 0;
  padding:10px 0;
}

.next a {
  background:url(/images/small-arrow.png) 100% 5px no-repeat;
  padding-right:14px;
}

.prev a {
  background:url(/images/small-arrow.png) 0 -95px no-repeat;
  padding-left:14px;
}

::selection {
  background-color:#F5FF38;
  color:inherit;
}

.clearfix,pre code {
  display:block;
}

strong,.highlight .gs,.highlight .kc,.highlight .kd,.highlight .kp,.highlight .kr,.highlight .ow {
  font-weight:700;
}

a:hover,a.askme:hover strong,a.follow-box:hover h3 strong {
  text-decoration:underline;
}

nav ul li a,nav ul li a:visited {
  color:#333;
  font-weight:700;
  text-decoration:none;
}

nav ul li a:hover,h3 a,h3 a:visited,h2 a,h2 a:visited,a.askme strong {
  color:#000;
}

code span.string,code.html span.string,code.xaml span.string {
  color:blue;
}

code span.properties,code.html span.tag,code.xaml span.tag {
  color:#B41;
}

code span.keywords,code.html span.attribute,code.xaml span.attribute {
  color:#4B2;
}

code span.comment,code.html span.comment,code.xaml span.comment,.highlight .gh,.highlight .bp {
  color:#999;
}

.highlight .c,.highlight .cm,.highlight .c1 {
  color:#998;
  font-style:italic;
}

.highlight .k,.highlight .o {
  font-weight:400;
}

.highlight .gr,.highlight .gt {
  color:#a00;
}

.highlight .gp,.highlight .nn {
  color:#555;
}

.highlight .kt,.highlight .nc {
  color:#458;
  font-weight:700;
}

.highlight .m,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,.highlight .il {
  color:#099;
}

.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .se,.highlight .sh,.highlight .si,.highlight .sx,.highlight .s1 {
  color:#d14;
}

.highlight .na,.highlight .no,.highlight .nv,.highlight .vc,.highlight .vg,.highlight .vi {
  color:teal;
}

.highlight .ne,.highlight .nf {
  color:#900;
  font-weight:700;
}

@media screen and (max-width:720px)
{
  html,body {
    width:100%;
    overflow-x:visible;
  }
  
  body {
    padding: 5px; 
  }
  
  aside {
    float:none;
    position:static;
    width:100%;
    padding:0;
    height:auto;
  }
  
  aside .logo {
    margin-top:0;
  }
  
  aside nav {
    display:none;
  }
  
  aside p {
    display:none; 
  }
  
  .main {
    float:none;
    position:static;
    width:100%;
    left:auto;
  }
  
  .listing article.other {
    display:none;
  }
  
  .ribbon {
    display:none; 
  }
}