/*------------------------------------------------------------------------------------
  @group Global Reset
------------------------------------------------------------------------------------*/
* {
  padding:0;
  margin:0;
}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address { margin:1em 0; }
li, dd { margin-left:5%; }
fieldset { padding: .5em; }
select option{ padding:0 5px; }

.access{ display:none; } /* For accessibility related elements */
.clear{ clear:both; height:0px; font-size:0px; line-height:0px; overflow:hidden; }
a{ outline:none; }
a img{ border:none; }

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* html .clearfix {height: 1%;}
.clearfix {display:inline-block;}
.clearfix {display: block;}

/* @end */

/*------------------------------------------------------------------------------
  @group Main Layout
------------------------------------------------------------------------------*/

html, body{
  width:950px;
  overflow-x:hidden;
}

body{
  font-family: Helvetica, Arial, sans-serif;
  font-size:13px;
  background:#fff;
}

strong{
  font-weight:bold;
}

a{
  color:#2382c8;
  text-decoration:none;
}
a:visited{
  color:#2382c8;
}
a:hover{
  text-decoration:underline;
}

hr{
  margin:15px 0;
  height:1px;
  padding:none;
  background:#ddd;
  border:none;
}

aside{
  float:left;
  padding:0 40px 0 30px;
  width:240px;
  position:fixed;
  background-color:#fff;
  z-index:1000;
  height:100%;
}
.main, .left, .right{
  float:left;
  padding-bottom:50px;
  width:640px;
  left:310px;
  position:absolute;
}

/* @end */

/*------------------------------------------------------------------------------
  @group Sidebar
------------------------------------------------------------------------------*/

.logo{
  display:block;
  margin:20px 0;
  font-weight:bold;
  font-size:30px;
}

nav ul{
  margin:20px 0;
  border-top:1px solid #ddd;
}
nav ul li{
  list-style-type:none;
  margin:0;
  padding:8px 0;
  border-bottom:1px solid #ddd;
}
nav ul li a{
  color:#333;
  font-weight:bold;
  text-decoration:none;
}
nav ul li a:visited{
  color:#333;
  font-weight:bold;
  text-decoration:none;
}
nav ul li a:hover{
  color:#000;
}

aside p{
  color:#666;
  line-height:1.5;
}

/* @end */

/*------------------------------------------------------------------------------
  @group Home Page
------------------------------------------------------------------------------*/

.listing article{
  margin:40px 0;
}
.listing article:first-child{
  margin-top:22px;
}

.listing article time{
  margin:0 0 -1px 0;
}

.listing article h2{
  margin:0 0 -5px 0;
  font-size:18px;
  border:none;
}
.listing article h2 a{
  color:#222;
  text-decoration:none;
}

.listing article .continue{
  font-weight:bold;
  padding-right: 14px; 
  background: url(/images/small-arrow.png) 100% 5px no-repeat;
}

.listing article.other{
  margin-left:24px;
  padding-left:10px;
  color:#666;
  border-left:1px solid #ddd;
}
.listing article.other h2{
  margin-bottom:-3px;
  font-size:14px;
  line-height:14px;
}
.listing article.other p:last-child{
  margin-bottom:0;
}

.listing article.other .icon{
  float:left;
  margin-left:-35px;
  width:20px;
  height:20px;
}
.listing article.link .icon{
  background:url(/images/icon_link.png) 0 0 no-repeat;
}

/* @end */

/*------------------------------------------------------------------------------
  @group Post Styles
------------------------------------------------------------------------------*/

.main, .left, .right{
  color:#444;
  line-height:21px;
}

.main time, .left time, .right time{
  color:#666;
  margin:20px 0 -20px 0;
  display:block;
}

h1{
  margin:20px 0 10px 0;
  font-size:20px;
  color:#000;
}

h2{
  margin:2.0em 0 -0.5em 0;
  font-size:16px;
  color:#000;
  border-bottom:1px dotted #BBB;
}

h3{
  margin:2.0em 0 -0.75em 0;
  font-size:13px;
  color:#000;
}
h3 a, h3 a:visited, h2 a, h2 a:visited{ color:#000; }
h3 a:hover, h2 a:hover{ color:#000; border:none; }

h4{
  font-size:1em;
  font-weight:normal;
  color:#000;
}

.figure{
  margin:19px 0 1em 0;
  padding:2px;
  text-align:center;
  border:1px solid #ddd;
  background:#f5f5f5;
  line-height:0;
}
.fig-a{
  float:right;
  margin-left:15px;
}
.figure small{
  margin:2px 0 0 0;
  padding:5px 7px;
  display:block;
  font-size:11px;
  line-height:12px;
  text-align:left;
  color:#666;
  background:#ddd;
  text-shadow:1px 1px 0 rgba(255,255,255,0.3);
}
.figure small strong{
  text-transform:uppercase;
}

blockquote{
  margin:1em 0;
  padding:0 35px;
  font-size:14px;
  border:1px dotted #ddd;
  border-left:none;
  border-right:none;
  background:url(../images/blockquote_open.gif) 0 12px no-repeat;
}
blockquote p{
  margin:12px 0;
  color:#666;
  font-family:Georgia;
}

table{
    width:100%;
    border-top:1px solid #CCCCCC;
    border-bottom:2px solid #CCC;
    color:#000000;
    background:#FFFFFF;
    border-collapse:separate;
    font-size:11px;
}
caption{
    padding:10px 10px 5px 0;
    text-align:left;
    font-size:11px;
    text-transform:uppercase;
    font-weight:bold;
}
th{
    text-align:center;
    padding:5px;
}
td{
    text-align:center;
    padding:3px 5px;
}
.odd td{
    background:#F0F1F2;
}
table.data th, table.data td{
  text-align:left;
}

.main ul, .main ol, .left ul, .left ol, .right ul, .right ol{
  margin:16px 0;
}
.main ul li, .left ul li, .right ul li{
  list-style-type:none;
  margin-left:10px;
  margin-bottom:5px;
  padding-left:15px;
  background:url(../images/icon_li.gif) 0 5px no-repeat;
}
.main ol li, .left ol li, .right ol li{
  margin-left:32px;
  margin-bottom:5px;
}

a.askme{
  display:block;
  padding:10px 12px;
  font-size:14px;
  text-decoration:none;
  color:#666;
  background:#eee;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
a.askme strong{
  color:#000;
}
a.askme:hover strong{
  text-decoration:underline;
}

p.note{
  color:#666;
}

/* @end */

/*----------------------------------------------------------------------------
  @group Follow Box
----------------------------------------------------------------------------*/

.follow-box{
  display:block;
  margin:35px 0 10px 0;
  background:#f6fbff;
  text-shadow:0 0 1px rgba(255,255,255,0.6);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#f6fbff', endColorstr='#d5e8f5');
  background:-webkit-gradient(linear, left top, left bottom, from(#f6fbff), to(#d5e8f5));
  background:-moz-linear-gradient(top,  #f6fbff,  #d5e8f5);
  border:1px solid #c3e0f2;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}
a.follow-box{
  text-decoration:none;
}

.follow-box h3{
  margin:0;
  padding:11px 10px 8px;
  font-size:14px;
  font-weight:normal;
  color:#588499;
  border-bottom:1px solid #f0f7fb;
  background-repeat:no-repeat;
  background-position:98.5% 55%;
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NjBFQzg0NTE4RjAwMTFFMEE1MDNGMDdBQUE4NjMxMkYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NjBFQzg0NTI4RjAwMTFFMEE1MDNGMDdBQUE4NjMxMkYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo2MEVDODQ0RjhGMDAxMUUwQTUwM0YwN0FBQTg2MzEyRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo2MEVDODQ1MDhGMDAxMUUwQTUwM0YwN0FBQTg2MzEyRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqoN/TQAAALcSURBVHjalFRLaxNRFJ57584jM0kmr9ZKbaUthIIP1II7tYpYoQtFUNSd+CNcCO4EBTftShERBHHhwkW1FEE3XbQ+ClakFm2VllptTROmeU3mkfG7JYWYJqke+Lhz5373nO/ec84lvu8L/2uvp2bbMdwCjgKvgBsn+nqX6nFJdQBslDFcBCax4UsD5zql4lAkGr2qKKpgWcVP66Z5z/Pcu9jj1vJpdTCYo+nB84xJE3D0CDhcCVpNOm1EIlfAE0TGfFlW9gQ07Q7+P+DBm52AAPL0YnoflD20ioW9uWzWchx7DJz7WHvJOQFNfxZPtAxWO+E+ioW8kEmv3cb3dZzEq3cCHknJmqbjua7EFbbsaFNjiZazakB7AYU3gVOarg9sUUmIwPlhI3IZ097KVUa35AC2c/5HqtOmyrDIpP2Yq5sL2XVTKJVKq1Dfyh3WMwgTUr9Xn+DU7yiln/sPJsdoDSfX054oRjR2jQj+TPVCKGwI0Vi8oXNuyAl44UuhkHEBudnwzWo4WaDo2aWAbZOEJCt/OxDFbUs4GAx+o747r5ByAtPdpE4fRG3X68uVvC6z5J9zPP9kHSF1DWfLhmVhOKbLSyIli5SSN/U2ZmQmfowxcflneq2TKdoxXMs/BvDfR3V5XGKUN91XwKGVjMdruKvATKFoD2EcrVRYc+dEyOjMH4G4PKazgM33bShDxg8gSBKfb4Hv/LqBbnTsEVmRk6h9so3zoqHQx60hdQHTOV5Qm2s8QDzZ0baynMn3W5b11HWdFWxxGWO70XAd6OqmynHXaUOlowld+oDpFPCrtpN5qRzyyn53Kmcfz+RLA45X3sVEtlF2TRLq6gqdNRRxUlfEafwaARYaPRU8Fz3AIJwn87bfm7e9Ltvzo2VfkMGhBFRchccoKagSWQkq4pzKyBwlhCt/Dpjbvqb8qQB4Ls4A/Ek2+PtUEcCJ/LUsAClgAhgH1oByo5P+EWAAaC4ZuefCgrYAAAAASUVORK5CYII=);
}
.follow-box h3 strong{
  font-weight:bold;
  color:#186487;
}
a.follow-box:hover h3 strong{
  text-decoration:underline;
}

.follow-box p.subtext{
  margin:0;
  padding:8px 10px;
  font-size:12px;
  font-weight:300;
  color:#6891a5;
  border-top:1px solid #dce7ee;
}

/* @end */

/*------------------------------------------------------------------------------------
  Code Styles
------------------------------------------------------------------------------------*/

pre{
  margin:16px 0;
  padding-left:10px;
  border-left:1px solid #eee;
  overflow:auto;
  -webkit-font-smoothing:subpixel-antialiased;
}
pre code{
  display:block;
}
pre>code{
  padding-top:15px;
  background:url(../images/pxl_code.gif) 0 0 no-repeat;
}
pre>code.html{
  background:url(../images/pxl_html.gif) 0 0 no-repeat;
}
pre>code.javascript{
  background:url(../images/pxl_javascript.gif) 0 0 no-repeat;
}
pre>code.ruby{
  background:url(../images/pxl_ruby.gif) 0 0 no-repeat;
}
pre>code.php{
  background:url(../images/pxl_php.gif) 0 0 no-repeat;
}
code{
  font-family:"Courier New", Courier, sans-serif;
  font-size:13px;
  color:#000;
}
code span.global{
  color:#3388DD;
}
code span.brackets{
  color:#777777;
}
code span.string {
  color:blue;
}
code span.symbol, code span.selectors{
  color:#1199EE;
}
code span.properties{
  color:#BB4411;
}
code span.keywords{
  color:#44BB22;
}
code span.comment{
  color:#999;
}
code span.shell{
  background:#f1f1f1;
}

code.html span.tag, code.xaml span.tag{
  color:#BB4411;
}
code.html span.attribute, code.xaml span.attribute{
  color:#44BB22;
}
code.html span.string, code.xaml span.string{
  color:blue;
}
code.html span.comment, code.xaml span.comment{
  color:#999999;
}
code.html span.doctype{
  color:#D7FF80;
}

/* @end */

/*------------------------------------------------------------------------------
  @group Default Pygments Styles
------------------------------------------------------------------------------*/

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: normal } /* Keyword */
.highlight .o { font-weight: normal } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

/* @end */

/*------------------------------------------------------------------------------
  @group Half Court
------------------------------------------------------------------------------*/

.hcs{
    overflow:hidden;
    text-align: left;
}
.hcs ul,
.hcs *{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    list-style-type: none;
}
.hcs ul{
    margin: 0 -5px;
}
.hcs ul li{
    width: 120px;
    height:90px;
    position: relative;
    display: block;
    padding: 5px;
    margin: 5px 5px 0 5px;
    background: rgba(0,0,0,0.075);
    -webkit-transition:background 0.2s linear;
    -moz-transition:background 0.2s linear;
    transition:background 0.2s linear;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#14000000, endColorstr=#14000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#14000000, endColorstr=#14000000)";
    display: table;
    float:left;
    vertical-align:middle;
}
.hcs ul li a{
    width:120px;
    height:90px;
    text-align:center;
    vertical-align:middle;
    display: table-cell;
}
.hcs ul li:hover{
    background: #2382c8;
}
.hcs img{
    width:auto;
    height: auto;
    max-width: 120px;
    max-height:90px;
    border: 0;
    -ms-interpolation-mode:bicubic;
    font-size:0;
    float:left;
}
.pagination{
    border-top:1px solid #DDD;
    padding:10px 0;
    margin:15px 0;    
}
.next a{
    padding-right:14px;
    background:url(/images/small-arrow.png) 100% 5px no-repeat;
}
.prev a{
    padding-left:14px;
    background:url(/images/small-arrow.png) 0 -95px no-repeat;
}

::selection{
    background-color:#F5FF38;
    color: inherit;
}

.left{
    margin-left:-330px;
    display:none;
}

.right{
    margin-left:950px;
    display:none;
}
/* @end */