.container {
    margin: 0px;
    padding: 40px;
    max-width: 400px;
}

@media (max-width: 400px) {
    .container {
        padding: 20px;
    }
}

#header {
    margin-bottom: 25px;
}

#header h1 {
    font-weight: 500;
}

#header p {
    color: #333333;
    font-size: 18px;
}

#navigation {
    margin-bottom: 25px;
}

#navigation a {
    text-decoration: none;
    color: #0070c9;
}

#navigation a:hover {
    text-decoration: underline;
    color: #0070c9;
}
