body {
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
}

a {
    text-decoration: underline;
}

.container {
    margin: 20px auto;
    max-width: 450px;
    text-align: center;
}

#header {
    margin-bottom: 25px;
}

#header h1 {
    font-weight: bold;
}

#header p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
}

#header p.lead {
    display: none;
}

#navigation {
    margin-top: 25px;
}

#navigation p {
    margin-bottom: 20px;
    margin-top: 20px;
}

#qrcode {
    margin: 50px auto;
    width: 225px;
}
