.container {
    max-width: 768px;
    margin: 50px 0px;
    padding: 0px 50px;
}

@media (max-width: 768px) {
    .container {
        margin: 25px 0px;
        padding: 0px 25px;
    }
}

#header {
    margin: 25px auto;
}

#bio {
    margin: 25px auto;
}

#contact {
    margin: 25px auto;
}
