<section class="about">
    <div class="content">
        <div class="inner">
            <h4>{{ site.description }}</h4>
            <ul class="links">
                <li><a href="https://twitter.com/{{ site.twitter.username }}" class="twitter" rel="me">Twitter</a></li>
                <li><a href="https://github.com/{{ site.github.owner_name }}" class="github" rel="me">Github</a></li>
                <li><a href="https://linkedin.com/in/{{ site.linkedin.username }}" class="linkedin" rel="me">LinkedIn</a></li>
            </ul>
        </div>
    </div>
</section>
