<!DOCTYPE html>
<html>
<head>
    <title>
        {% if page.title %}
        Matt McCormick - {{ page.title }}
        {% else %}
        Matt McCormick
        {% endif %}
    </title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="alternate" type="application/atom+xml" href="http://mbmccormick.com/feed/" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/js/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/js/jquery-1.6.4.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-6872595-6']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  </script>
</head>
<body>

    <aside>
        <a href="/" class="logo">Matt McCormick</a>
        
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/calendar">Calendar</a></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="/press">Press</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>

        <p>My name is Matt McCormick. I'm studying computer science at <a href="http://purdue.edu" target="_blank">Purdue University</a> and I'm a Program Manager Intern at <a href="http://microsoft.com" target="_blank">Microsoft</a>.</p>
        <p>You can find me as <strong>@mbmccormick</strong> on <a href="http://twitter.com/mbmccormick" class="twitter">Twitter</a>, <a href="https://facebook.com/mbmccormick">Facebook</a>, <a href="http://github.com/mbmccormick">GitHub</a> and pretty much everywhere else.</p>
    </aside>

    <section class="main">
        {{ content }}
    </section>
    
    <div class="main left">
    </div>
    
    <div class="main right">
    </div>
  
</body>
</html>