---
layout: default
---

<div role="main">
    <div class="content">
        <article>
            <h1>{% if page.header %}{{ page.header }}{% else %}{{ page.title }}{% endif %}</h1>
            <time datetime="{{ page.date | date:'%F' }}">{{ page.date | date:'%d %b %Y' }}</time>
            {{ content }}
        </article>
    </div>

    <section class="contribute">
        <div class="content">
            <div class="contribute-inner">
                <h4>Contribute to this post</h4>
                <p>Want to suggest changes to this content? You can edit and submit changes to <a href="{{ site.github_repo_url }}edit/master/{{ page.path }}">this post</a> using GitHub.</p>
            </div>
        </div>
    </section>

    <div class="content">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = '{{ site.disqus.shortname }}';
    
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</div>

{% include about.html %}
